{% extends "base.html" %}
{% load static %}

  {% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}?{% now "U" %}">{% endblock %}



{% block title %}
  Search Samples and Baths
{% endblock %}

{% block content %}
  <h1>Samples</h1>
  <form method="post" autocomplete="off" action="http://localhost:8000/soilcalc/calc/batch/">
    {% csrf_token %}
      <label for="search_table">Escolha uma opção:</label>
        <select id="search_table" name="search_table">
          <option value="--"> -- </option>
          <option value="batch">Batch</option>
          <option value="sampleSoil">Samples</option>
        </select>
    <button type="submit">Search</button>
  </form>


  {% if sample_id and sample != None %}
  <p> Amostra: {{sample_id}} </p>
  {% else %}
  <p>Sample not in data base</p>
  {% endif %}
  <ul>
    {% for element, value in sample.items %}
    <li><strong>{{ element }}:</strong> {{value}} </li>
    {% endfor %}
  </ul>

	<h1>Factor_correction</h1>
    <form method="post" autocomplete="off">
    {% csrf_token %}
    <label>Wirite a ID</label>
    <input name="name_factor" type="text" value="" required>
    <input name="witness" type="number" value="" required>
    <input name="value_reference" type="number" value="" required>

    <button type="submit">Search</button>
	</form>

{% endblock content %}
 
