<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoilCalc Página</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
</head>

<body>
  <h1>Samples</h1>
  <form method="post" autocomplete="off">
    {% csrf_token %}
    <label>Wirite a ID</label>
    <input name="sample_id" type="number" value="" required>
    <button type="submit">Search</button>
  </form>
  {% if sample_id and sample != None %}
  <p> Amostra: {{sample_id}} </p>
  {% else %}
  <p>Sample not in data base</p>
  {% endif %}
  <ul>
    {% for element, value in sample.items %}
    <li><strong>{{ element }}</strong> {{value}} </li>
    {% endfor %}
  </ul>
  <p>Ph Estimado {{ph}}</p>
</body>

</html>
