<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Meu Projeto Django{% endblock %}</title>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'soilcalc/calc/' %}">Home</a></li>
        <li><a href="{% url 'about' %}">Sobre</a></li>
        <li><a href="{% url 'contact' %}">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- Conteúdo  -->
    {% endblock %}
  </main>

  <footer>
  </footer>

</body>

</html>
